<div class="main-content py-6">
  <div class="container">
    <div class="row g-3">

      <div class="container" *ngIf="products && products.length > 0">
        <div class="bg-white p-3 rounded shadow-sm">
          <h4 class="text-dark fw-bold m-0 w-100">
            {{currentCategoryName}}
          </h4>
        </div>
      </div>

      <div *ngFor="let tempProduct of products" class="col-md-2 col-sm-6">
        <div class="card h-100 shadow-sm">
          <a routerLink="/products/{{ tempProduct.id }}">
            <img src="{{ tempProduct.imageURL }}" class="card-img-top img-fluid p-3" alt="{{ tempProduct.name }}">
          </a>
          <div class="card-body d-flex flex-column">
            <a routerLink="/products/{{ tempProduct.id }}">
              <h5 class="card-title">{{ tempProduct.name }}</h5>
            </a>
            <p class="card-text mt-auto">
              <strong class="text-primary">{{ tempProduct.unitPrice | currency:'EUR' }}</strong>
            </p>
            <button (click)="addToCart(tempProduct)" class="btn btn-outline-primary mt-2">Add to cart</button>
          </div>
        </div>
      </div>

      <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
        No Products found.
      </div>

      <div class="col-md-6 pagination-container">
        <ngb-pagination class="mb-3" [(page)]="thePageNumber" [pageSize]="thePageSize"
          [collectionSize]="theTotalElements" (pageChange)="listProducts()">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>