<div class="page-wrapper">

  <aside class="menu-sidebar d-none d-lg-block">

    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="OnlineStore" class="img-responsive">
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>

  </aside>

  <div class="page-container">

    <header class="header-desktop bg-white py-2 py-md-3 shadow-sm">
      <div class="container">
        <div class="row g-2 align-items-center">
          <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-grow-1">
              <app-search class="me-auto"></app-search>
            </div>
            <div>
              <app-cart-status></app-cart-status>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- MAIN CONTENT -->
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>